ul {
    list-style: none;
    width: 75vw;

    display: inline-flex;
    flex-direction: row;
    justify-content:space-evenly;
    height: 30vh;
    align-items:stretch;
    
    
}

li {
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 173, 41);
    

    /* add solution here.. */
    text-align:center;
    flex: 1 1 0;
    
    

}